.Header {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


    height: 10vh;
    width: 100vw;
    background-color: transparent;
    // border: black 2px dotted;

    position: absolute;
    color: white;
    filter: drop-shadow(0px 0px 6px black);
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 2;
    margin: 0;
    position: fixed;

    transition-property: background-color;
    transition-duration: .2s;
}
.Header:hover {
    background-color: rgba(11, 18, 21, 0.299);
}

.Header .logoContainer {
    margin: 1rem;
}
.Header .logoContainer a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Header .logoContainer a h1 {
    color: white;
    font-size: 5.6rem;
    font-family: "Roboto Mono";
    // font-family: monospace;
    font-weight: 600;
    // font-style: italic;
    // padding-bottom: .6rem;
}
.Header .logoContainer a:hover h1 {
    color: grey;
}
.Header .logoSolve{
    height: 90px;
    width: 90px;
    padding: 0 1rem 0 2rem;
}
.Header li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    // border: solid 1px green;

    height: 100%;

    padding: 0 2rem;
}
.Header li ul {
    font-size: 1.8rem;
    margin: .6rem;
    // border: solid 1px blue;
    font-weight: bold;
}
.Header li a {
    color: white;
}
.Header li a:hover ul{
    // color: rgba(0, 0, 0, 0.500);
    filter: drop-shadow(0 0 4px white);
}
.Header li a ul{
    color: white;
    font-weight: 400;

    padding: 1rem;
    border: solid 1px transparent;
}