.Card {
   height: 235px;
   margin: 2rem;
   width: 300px;
//    border: solid 1px rgb(180, 180, 180);
   border-radius: 4px;

   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   position: relative;
   
   box-shadow: 0 1px 8px 0 rgba(0,0,0,.16);
}
// .Card p {
//     padding: 2rem;
// }
.Card p {
    font-weight: 700;

}
.Card .name {
    padding: 2rem 0 0 2rem;
    font-size: 1.2rem;
    // color: grey;
}

.Card .comment {
    padding: 0 1rem ;
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 4rem;
}
.Card .compData {
    height: 40px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(222, 222, 222);
}
// .Card .compData p {
// }
// .Card .date {
//     padding: 0 0 2rem 2rem;
//     color: grey;
// }