.PresentationIng {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.PresentationIng .sectionContainer {
    height: 90vh;
}
.PresentationIng .imageContainer {
    width: 45vw;
    
    border: solid 1px red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.PresentationIng .imageContainer figure {
    display: flex;
    // align-items: center;
    justify-content: center;
    height: 80vh;
    width: 50vw;
    // border: solid 1px blue;
}
.PresentationIng .imageContainer figure img {
    z-index: 1;
    position: absolute;
    height: 75vh;
    width: 30vw;
    border: solid white 5px;
    border-radius: 4px;
    filter: drop-shadow(0 0 8px rgb(82, 82, 82));
}
.PresentationIng .imageContainer .boxBack {
    height: 45vh;
    width: 40%;
    background-color: grey;
    position: relative;
    top: 26rem;
    left: 11rem;
}
.PresentationIng .imageContainer .boxFront {
    height: 12vh;
    width: 12vw;
    background-color: rgb(95, 95, 95);
    position: absolute;
    z-index: 2;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.PresentationIng .imageContainer .boxFront p {
    color: white;
    font-size: 15px;
    padding: 10px;
    // font-weight: bold;
}
// .PresentationIng .imageContainer .boxFront :nth-child(1) {
//     font-size: 30px;
//     width: 90%;
//     border-bottom: solid 1px grey;
//     margin: 10px 0;
// }
.PresentationIng .constDescription {
    border: solid 1px green;
    width: 55vw;
}
